params {
    input     = "data/*.fastq"
    outdir    = "results"
    reference = "reference.fa"
}

process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}
